body {
  line-height: 2rem;
  background-image: linear-gradient(
    to bottom right,
    #659B91,
    #C3FCF1
  );
}
.box {

  color: #007561;
}
h2 {
  color: 659B91;
}
span{
  color:rgba(235, 21, 21, 0.637)
}
